.filterBtn {
  padding: 8px 16px;
  background-color: #efefef;
  color: #1a2233;

  border-radius: 32px;
  padding: 18px 32px;
  border: none;
}

.activeFilter {
  background-color: #1a2233;
  color: #fff;
}
