@import "../../assets/styles/variables";

.bonusCard {
  background-color: #3cff64;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.bonusCard_red {
  background-color: #c03142;
  color: #fff;
}

.bonusCard_orange {
  background-color: #f25b27;
  color: #fff;
}

.cardStory__grey {
  width: 311px;
  height: 192px;
  padding: 24px 32px 24px 32px;
  border-radius: 4px 4px 0px 4px;

  background-color: #efefef;
}

@media all and (min-width: $md) {
  .bonusCard {
    gap: 35px;
  }

  .cardStory__grey {
    height: 140px;
    width: 504px;
  }
}

@media all and (min-width: $lg) {
  .cardStory__grey {
    width: 311px;
    height: 192px;
  }
}

@media all and (min-width: $mac) {
  .cardStory__grey {
    width: 504px;
    height: 140px;
  }
}

@media all and (min-width: $xlg) {
  .bonusCard {
    &__info {
      #{h3} {
        font-size: 22px;
      }

      #{p} {
        font-size: 22px;
      }
    }
  }

  .cardStory__grey {
    width: 504px;
    height: 140px;
  }
}

@media all and (min-width: $fhd) {
  .bonusCard {
    &__info {
      #{h3} {
        font-size: 24px;
      }

      #{p} {
        font-size: 24px;
      }
    }
  }
  .cardStory__grey {
    width: 600px;
    height: 200px;
  }
}

@media all and (min-width: $qhd) {
  .bonusCard {
    padding: 40px 16px;
    &__info {
      #{h3} {
        font-size: 35px;
      }

      #{p} {
        font-size: 35px;
      }
    }
  }

  .cardStory__grey {
    width: 800px;
    height: 250px;
  }
}
