@import "../../assets/styles/variables";

.stories {
  height: 344px;
  //   width: 336px;
}

.hero__avatars {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  //   width: 336px;
  margin: 0 auto;
}

.hero {
  border: 1px solid red;

  &__title {
    text-align: center;
    margin: 60px auto 32px;
    width: 324px;
    font-size: 46px;
  }

  &__info {
    text-align: center;
    margin-bottom: 34px;
  }
}

.main {
  &__stories {
    display: none;
  }

  &__hero {
    &__title {
      margin-top: 150px;
    }
  }
}

@media all and (min-width: $ml) {
  .story {
    width: 375px;
    margin: 0 auto;
  }

  .hero {
    width: 375px;
    margin: 0 auto;
  }
}

@media all and (min-width: $md) {
  .story {
    width: 688px;
  }

  .hero {
    width: 688px;

    &__title {
      text-align: center;
      margin: 60px auto 32px;
      width: 450px;
    }

    &__btn {
      height: 66px;
      width: 217px;
      font-size: 19px;
    }

    &__info {
      font-size: 17px;
    }
  }
}

@media all and (min-width: $lg) {
  .mobile {
    display: none;
  }
  .story {
    width: 924px;
  }

  .main {
    &__hero {
      height: 252px;
      width: 462px;

      &__title {
        height: 252px;
        width: 460px;
      }
    }
    &__stories {
      border: 1px solid red;
      display: flex;
      margin: 0 auto;
      width: 924px;
      height: 678px;

      &__story {
        width: 518px;
        height: 716px;
      }
    }
  }
}

@media all and (min-width: $mac) {
  .main {
    &__hero {
      height: 252px;
      width: 650px;

      &__title {
        height: 252px;
        width: 460px;
        font-size: 60px;
      }
    }

    &__stories {
      border: 1px solid red;
      display: flex;
      margin: 0 auto;
      height: 678px;
      width: 1312px;
    }

    &__story {
      width: 463px;
      height: 676px;
      #{img} {
        @include img-full;
      }
    }
  }
}
