@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "./assets/styles/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $primary-color;
  font-size: 16px;
}

.app {
  width: 375px;
  margin: 0 auto;
  border: 2px solid red;
}

.container {
  width: 335px;
  margin: 0 auto;
  border: 5px solid green;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

@media all and (min-width: $ml) {
  .app {
    width: 425px;
    margin: 0 auto;
  }

  .container {
    width: 375px;
    margin: 0 auto;
  }
}

@media all and (min-width: $md) {
  .app {
    width: 100%;
  }

  .container {
    width: 688px;
  }
}

@media all and (min-width: $lg) {
  .container {
    width: 924px;
  }
}

@media all and (min-width: $mac) {
  .container {
    width: 1312px;
  }
}

@media all and (min-width: $xlg) {
  .container {
    width: 1436px;
  }
}

@media all and (min-width: $fhd) {
  .container {
    width: 1720px;
  }
}
@media all and (min-width: $qhd) {
  .container {
    width: 2160px;
  }
}
